<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>Каталог</title>
	<link rel="stylesheet" href="../../css/style.css">
</head>
<body>
	<div class="registr">
		<a href="/registration/?back={{back_url}}">Регистрация</a>
		<a href="/account/?back={{back_url}}">Личный кабинет</a>
	</div>
	
	<div class="auth">
		{% if auth == '' %}
			{% include 'login_item.tmpl' %}
		{% else %}
			{% include 'logout_item.tmpl' %}
		{% endif %}
	</div>
	
	<div class="goods">
		{% include 'catalog_item.tmpl' %}
	</div>
	<button class="showGoods">Показать ещё</button>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/engine.js" type="text/javascript"></script>
</body>
</html>