@media screen and (max-width: 990px) {

/* ----------НАЧАЛО описания стилей для страницы С ОТКРЫТЫМ ПРОДУКТОМ-----------*/

#photo_description {
	flex-wrap: wrap;
	justify-content: space-around;
}

#photo {
	width: 700px;
}

#description {
	width: 704px;
	margin-top: 30px;
}

/* ----------КОНЕЦ описания стилей для страницы С ОТКРЫТЫМ ПРОДУКТОМ-----------*/

/* ----------НАЧАЛО описания стилей для страницы С МАГАЗИНОМ-----------*/

.good {
	width: 450px;
}

/* ----------КОНЕЦ описания стилей для страницы С МАГАЗИНОМ-----------*/

}

